<h1>Listing locations</h1>

<table>
  <thead>
    <tr>
      <th>Business name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Postal code</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.store.name %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= location.address %></td>
        <td><%= location.city %></td>
        <td><%= location.state %></td>
        <td><%= location.postal_code %></td>
        <td><%= location.country %></td>
        <td><%= link_to 'Show', store_location_path(@store.id, location) %></td>
        <td><%= link_to 'Edit', edit_store_location_path(@store.id, location) %></td>
        <td><%= link_to 'Destroy', store_location_path(@store.id, location), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %> | 
<%= link_to 'Import Locations', import_store_locations_path(@store.id) %>
