<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @location.store.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @location.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>

<%= link_to 'Edit', edit_store_location_path(@location.store_id, @location) %> |
<%= link_to 'Back', store_locations_path(@location.store_id) %>
